.portfolio-max-width {
  max-width: 900px;
  margin: auto;
}

.portfolio-card .mdl-card__title {
  padding-bottom: 0;
}

form div.mdl-textfield {
  width: 100%;
}

#forecast-date-container {
  display: none;
}

.mdl-grid-align-center {
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
}

.mdl-cell-align-center {
  text-align: center;
}

.mdl-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.section-color-red {
  background-color: #F44336;
}
.section-color-grey {
  background-color: #F5F5F5;
}

.section-color-black {
  background-color: #424242;
}

.section-color-dark-grey {
  background-color: #E0E0E0;
}

.mdl-font-text {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0;
}

.mdl-font-black {
  color: #424242;
}

.mdl-font-white {
  color: #ffffff;
}

.mdl-font-bold {
    font-weight: 500;
}

img.article-image {
  width: 100%;
  height: auto;
}

img.blog-image {
  max-height: 150px;
  width: 100%;
  object-fit: cover;
}

#loader {
  display: none;
}

table {
  width: 100%;
}

#surfTable thead {
  width: 100%;
}

img.surf-type {
  max-width: 100%;
  height: auto;  
}

img.responsive-image {
  max-width: 300px;
  height: auto;
}

img.social-media-icon {
  max-width: 32px;
  height: auto;
  padding: 0.25rem;
}

.mdl-font-text-center {
  text-align: center;
  margin: 0;
}

div .date-header {
  width: 100%;
  margin-bottom: 1rem;
  min-height: auto;
}

.location-heading {
  margin: 0 0 0 0;
}

