{% load static %}

<section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
    <section>
    <div class="mdl-grid portfolio-max-width mdl-grid-align-center">
        <div class="mdl-cell mdl-cell--6-col">
          <div class="page-content">
            <div id="loader">
              <div>Fetching current wavebuoy data..</div>
              <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
            </div>
            <div class="mdl-font-text-center">
              <strong>Prediction date/time:</strong><br>
              <span id="forecast-date"></span>
            </div>
            <table id="surfTable" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
              <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Surf Report</th>
                    <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="mdl-data-table__cell--non-numeric">Breaking Wave Height</td>
                  <td id="breaking-wave-height"></td>
                </tr>
                <tr>
                  <td class="mdl-data-table__cell--non-numeric">Breaking Type</td>
                  <td id="breaking-type"></td>
                </tr>
                <tr>
                  <td class="mdl-data-table__cell--non-numeric">Wind Type</td>
                  <td id="wind-type">TBA</td>
                </tr>
                <tr>
                  <td class="mdl-data-table__cell--non-numeric">Wind Direction</td>
                  <td id="wind-direction">TBA</td>
                </tr>
                <tr>
                  <td class="mdl-data-table__cell--non-numeric">Wind Speed (km/h)</td>
                  <td id="wind-speed">TBA</td>
                </tr>
                <tr>
                  <td class="mdl-data-table__cell--non-numeric">Water Depth at Breaking</td>
                  <td id="water-depth"></td>
                </tr>
                <tr>
                  <td class="mdl-data-table__cell--non-numeric">Breaking Wave Angle of Incidence</td>
                  <td id="breaking-wave-angle"></td>
                </tr>
                <tr>
                  <td class="mdl-data-table__cell--non-numeric">Sea Surface Temperature</td>
                  <td id="surface-temp"> </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
    </section>
  <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
    <div class="mdl-grid portfolio-max-width mdl-grid-align-center">
      <h5>Summary (Last 6hrs)</h5>
    </div>
      <div class="mdl-grid portfolio-max-width mdl-grid-align-center">
          <div class="mdl-cell mdl-cell--6-col">
            <div class="page-content">
              <canvas id="myChart" width="300" height="150"></canvas>
              <script>
              var ctx = document.getElementById("myChart");
              var scatterChart = new Chart(ctx, {
                  type: 'line',
                  data: {
                      labels: ['1:00pm','2:00pm','3:00pm','4:00pm','5:00pm','6:00pm'],
                      datasets: [{
                          type: 'line',
                          label: 'Wave Height',
                          fill: true,
                          lineTension: 0.2,
                          backgroundColor: "rgba(54,162,235,0.4)",
                          borderColor: "rgba(54,162,235,1)",
                          borderCapStyle: 'butt',
                          borderDash: [],
                          borderDashOffset: 0.0,
                          borderJoinStyle: 'miter',
                          pointBorderColor: "rgba(54,162,235,1)",
                          pointBackgroundColor: "#fff",
                          pointBorderWidth: 1,
                          pointHoverRadius: 5,
                          pointHoverBackgroundColor: "rgba(54,162,235,1)",
                          pointHoverBorderColor: "rgba(220,220,220,1)",
                          pointHoverBorderWidth: 2,
                          pointRadius: 3,
                          pointHitRadius: 10,
                          data: [2, 1.5, 0.9, 1.2, 1.8, 2.5, 3],
                          spanGaps: false,
                      },
                      {
                          type: 'line',
                          label: 'Wave Period',
                          fill: false,
                          lineTension: 0.1,
                          backgroundColor: "rgba(255,99,132,0.4)",
                          borderColor: "rgba(255,99,132,1)",
                          borderCapStyle: 'butt',
                          borderDash: [],
                          borderDashOffset: 0.0,
                          borderJoinStyle: 'miter',
                          pointBorderColor: "rgba(255,99,132,1)",
                          pointBackgroundColor: "#fff",
                          pointBorderWidth: 1,
                          pointHoverRadius: 5,
                          pointHoverBackgroundColor: "rgba(255,99,132,1)",
                          pointHoverBorderColor: "rgba(220,220,220,1)",
                          pointHoverBorderWidth: 2,
                          pointRadius: 3,
                          pointHitRadius: 10,
                          data: [8,4,5,6,7,8],
                          spanGaps: false,
                    }]
                  },
                  options: {
                      hover: {
                          // Overrides the global setting
                          mode: 'index'
                      }
                  }
              });
              </script> 
            </div>
          </div>
      </div>
  </section>
  <section class="mdl-section section-color-grey">
      <div class="mdl-grid portfolio-max-width mdl-grid-align-center">
          <div class="mdl-cell mdl-cell--12-col mdl-cell-align-center">
              <h4>Wave types</h4>
          </div>
      </div>
      <div class="mdl-grid portfolio-max-width mdl-grid-align-center">
          <div class="mdl-cell mdl-cell--3-col">    
              <img class="blog-image" src="{% static 'waive/plunging.png' %}" alt="plunging-img">
          </div>
          <div class="mdl-cell mdl-cell--9-col">    
              <h5>Plunging</h5>
              A plunging wave occurs when the ocean floor is steep or has sudden depth changes, such as from a reef or sandbar. The crest of the wave becomes much steeper than a spilling wave, becomes vertical, then curls over and drops onto the trough of the wave, releasing most of its energy at once in a relatively violent impact. A plunging wave breaks with more energy than a significantly larger spilling wave. If a plunging wave is not parallel to the beach (or the ocean floor), the section of the wave which reaches shallow water will break first, and the breaking section (or curl) will move laterally across the face of the wave as the wave continues. This is the "tube" that is so highly sought after by surfers. 
          </div>
          <div class="mdl-cell mdl-cell--3-col">    
              <img class="blog-image" src="{% static 'waive/spilling.png' %}" alt="spilling-img">
          </div>
          <div class="mdl-cell mdl-cell--9-col">    
              <h5>Spilling</h5>
              When the ocean floor has a gradual slope, the wave will steepen until the crest becomes unstable, resulting in turbulent whitewater spilling down the face of the wave. This continues as the wave approaches the shore, and the wave's energy is slowly dissipated in the whitewater. Because of this, spilling waves break for a longer time than other waves, and create a relatively gentle wave. Onshore wind conditions make spillers more likely.
          </div>
          <div class="mdl-cell mdl-cell--3-col">    
              <img class="blog-image" src="{% static 'waive/surging.png' %}" alt="surging-img">
          </div>
          <div class="mdl-cell mdl-cell--9-col">    
              <h5>Surging</h5>
              Surging breakers originate from long period, low steepness waves and/or steep beach profiles. The outcome is the rapid movement of the base of the wave up the swash slope and the disappearance of the wave crest. The front face and crest of the wave remain relatively smooth with little foam or bubbles, resulting in a very narrow surf zone, or no breaking waves at all.
          </div>
      </div>
  </section>
</section>
