{% extends "blog/base.html" %}

{% load static %}

{% block title %} Waive Surf Predictor {% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'waive/js/request.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% endblock %}


{% block tabs %} 

<div class="mdl-layout__tab-bar mdl-js-ripple-effect">
  <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Surf</a>
  <a href="#scroll-tab-2" class="mdl-layout__tab">Tides</a>
</div>

{% endblock %}

{% block tabscontent %}
<section class="mdl-section section-color-grey">
    <div class="mdl-grid portfolio-max-width">
        <div class="mdl-cell mdl-cell--12-col">
            <h4 class="location-heading">Farnborough Surf Wave Forecast</h4>
            The surf wave forecaster in near real time.         
        </div>
    </div>
</section>

{% include 'waive/surf_forecast.html' %}

<section class="mdl-layout__tab-panel" id="scroll-tab-2">
  <div class="mdl-grid portfolio-max-width mdl-grid-align-center">
    <div class="mdl-cell mdl-cell--6-col">
      <div class="page-content">
        <table id="surfTable" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Current tide level</th>
                <th class="mdl-data-table__cell--non-numeric" id="current-tide"></th>
            </tr>
          </thead>
          <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Tide</th>
                <th class="mdl-data-table__cell--non-numeric">High</th>
                <th class="mdl-data-table__cell--non-numeric">Low</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">AM</td>
              <td id="breaking-wave-angle">TBA</td>
              <td id="breaking-wave-angle">TBA</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Height (m)</td>
              <td id="breaking-wave-angle">TBA</td>
              <td id="breaking-wave-angle">TBA</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">PM</td>
              <td id="breaking-wave-angle">TBA</td>
              <td id="breaking-wave-angle">TBA</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Height (m)</td>
              <td id="breaking-wave-angle">TBA</td>
              <td id="breaking-wave-angle">TBA</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>    
</section>
{% endblock %}  

{% block content %}
<section class="mdl-section section-color-dark-grey">
    <div class="mdl-grid portfolio-max-width">
        <div class="mdl-cell mdl-cell--12-col mdl-font-text-center">
            <h6>Surf wave calculations and inspiration by:</h6>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-font-text-center">
            <span class="mdl-font-text mdl-font-black mdl-font-bold" style="font-size: 28px;">SWELLBEAT.COM</span>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-font-text-center">
            <a href="https://swellbeat.com/" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" role="button">Visit Website</a>
        </div>
    </div>
</section>
<section class="mdl-section">
    <div class="mdl-grid portfolio-max-width">
        <div class="mdl-cell mdl-cell--12-col mdl-font-text-center">
            <h5>Made using Open Data from</h5>
            <img class="responsive-image" src="{% static 'waive/qldgov.png' %}">
        </div>
    </div>
</section>
<section class="mdl-section section-color-grey">
    <div class="mdl-grid portfolio-max-width">
        <div class="mdl-cell mdl-cell--12-col">
            <h4>Surf calculator disclaimer</h4>

            <p>This application uses data from the Queensland Government (Department of Science, Information Technology and Innovation).</p>

            <p>The materials presented on this web site are distributed by the website owner as an information source only.</p>

            <p>The collection and processing of this data it must be treated as unverified.</p>

            <p>The website owner makes no statements, representations or warranties about the accuracy or completeness of, and you should not rely on, any information contained on this web site. The website owner disclaims all responsibility for information contained on this web site and all liability (including without limitation, liability in negligence) for all expenses, losses, damages and costs you may incur as a result of the information being inaccurate or incomplete in any way for any reason.</p>

            <p>You should always check the data from Queensland Government and Bureau of Meteorology for the latest weather and coastal waters forecasts for your area before putting to sea.</p>            
        </div>
    </div>
</section>

{% endblock %}